{% extends "base.html" %}

{% block head_title %}
{{ page.titulo }}
{% endblock %}

{% block section %}
<div class="genericoC">
<h2>{{ page.titulo }}</h2>
<p>{{ page.content|safe }}</p>
</div>
{% endblock %}