<html>
    <head>
        {% include "bootstap.html" %}
        <title>{% block head_title %}{% endblock %}</title>
    </head>

    <body>
        <header>
        {% block title %}
        {% include "title.html" %}
        {% endblock %}
        </header>
        

        {% block nav %}
        {% include "navbar.html" %}
        {% endblock %}

        
        <section>
        {% block section %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        </section>
        
        <footer>
            <p>Copyriht © 2018 - Alguna empresa S.L. - Tablón de anuncios gratuito<p>
            {% include "foterlink.html" %}
        </footer>
        
    </body>
</html>