{% extends "base.html" %}

{% block head_title %}
    <title>Portal de venta online</title>
{% endblock %}

{% block section %}
<p>Elija anuncios por ciudad</p>
<select name="forma" onchange="location = this.value;">
<option value="#">Elija una ciudad</option>
{% for ciudad in ciudades %}
        <option value="ciudad/{{ciudad.id}}">{{ciudad.nombre}}</option>
{% endfor %}
</select><hr><br>
<p>Elija anuncios por catagoria</p>
{% regroup scategoria_list by categoria as nombre_categoria%}
<ul>
    {% for categoria in nombre_categoria %}
        <li>{{ categoria.grouper}}
            <ul>
                {% for sub_categoria in categoria.list %}
                <a href="{{ request.path }}lc/{{sub_categoria.id}}">{{sub_categoria.nombre}}</a>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}