{% block title %}
<div class="jumbotron">
    <img class="title img-responsive" src="http://www.seor.es/wp-content/uploads/seor-img-tablon-de-anuncios.jpg" alt="Tablon de anuncios" height="150">
    <h1>Anuncios clasificados</h1>
    
    {% if user.is_authenticated %}
    <h3>Bienvenido, Esta registrado como {{ user.get_username }}</h3>
    {% else %}
    <p>Bienvenido.</p>
    {% endif %}
<div>
{% endblock %}