{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{profile.user}}{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            <!-- Avatar -->
            <div class="col-md-2">
              {% if profile.imagen %}
                <img src="{{profile.imagen.url}}" class="img-fluid">
              {% else %}
                <p>Sin imagen</p>
              {% endif %}
            </div>
            <!-- Campos -->
            <div class="col-md-10">
              <h3>{{profile.user}}</h3>
              {% if profile.descripcion %}<p>Bio: {{profile.descripcion}}</p>{% endif %}
              {% if profile.link %}<p>Enlace: <a href="{{profile.link}}" target="_blank">{{profile.link}}</a></p>{% endif %}
                <a class="button secondaryAction btn btn-primary" href="{% url 'ususarioSrArg' profile.user.id %}">Ver sus Anuncios</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}