{% extends 'base.html' %}

{% load static %}
{% block head_title %}Perfil{% endblock %}

{% block content %}
<style>
label{
display:none;
}


</style>
<main role="main">
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-2">
                {% if request.user.profile.imagen %}
                <img src="{{request.user.profile.imagen.url}}" class="img-fluid">
                <p class="mt-1">¿Borrar? <input type="checkbox" id="imagen-clear" name="imagen-clear"/></p>
                {% else %}
                <p>Sin imagen</p>
                {% endif %}
            </div>
            <div class="col-md-10">
                <h3>Perfil</h3>
                <input type="file" name="imagen" class="form-control-file mt-3" id="id_imagen">
                {{ form.descripcion }}
                {{ form.link }}
                <input type="email" value="{{request.user.email}}" class="form-control mt-3" readonly>
                <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar">
            </div>
        </form >
    </div>
</main>
{% endblock %}