{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>Inicie sesion con una cuenata de existente de la lista:</p>

<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

<p> O inicie sesion con la cuenta de este sitio.</p>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
    <table>
    {% csrf_token %}
    {{ form.as_table }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    </table>
    <input class="primaryAction btn btn-primary" type="submit" value="Iniciar sesión">
    <a class="button secondaryAction btn btn-primary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></input>

</form>
</div><a class="btn btn-primary" href="{{ signup_url }}">Registrar cuenta nueva</a>
{% endblock %}