{% extends "base.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <h2>Añadir anuncio</h2>
    <hr>
    <div class="col-md-4">
        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <table class="table">
                {{ file.management_form }}

                {% for form in file.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %} formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <input class="btn btn-primary" type="submit" value="Guardar"/> <a class="btn btn-primary "href="/">Atras</a>
        </form>
    </div>
    <script src="{% static 'formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Añadir otra imagen',
            deleteText: 'Borrar',
            prefix: 'file_set'
        });
    </script>
{% endblock %}
