{% extends "base.html" %}

{% block head_title %}
Lista de articulos
{% endblock %}

{% block section %}
{% for art in articulo_list %}
<div class="articulo_class">
    <div class='tituloArtList'>
        <p><u>{{art.nombre}}</u> ubicado en {{art.ciudad}} </p>
    </div>
    <div class='decripcionArtList'>
        <p><b>Descripcion:</b> {{art.descripcion|safe}}</p><br>
        <hr>
    </div>
    <p class='decripcionArtList'>
    <p><b>Precio:</b> {{art.precio }}€ | <b>Tipo de vendedor:</b> {{art.get_tipo_display }}</p>
    {% if art.fechaC|date:"D d M Y" == art.fechaM|date:"D d M Y" %}
    <p>Fecha de publicacion: {{art.fechaC|date:"D d M Y" }}</p>
    {% else %}
    <p>Fecha de publicacion: {{art.fechaC|date:"D d M Y" }} | Fecha de modificación: {{art.fechaM|date:"D d M Y" }}</p>
    {% endif %}
    <p>Publicado hace: {{ art.fechaC|timesince }}</p>
    <div class="Options">
        <a href="{% url 'ficha' art.slug %}">Ver articulo</a>
        {% if user.is_authenticated and user.id == art.creado.id %}
        <a href="{% url 'actualizar' art.id %}">Modificar</a>
        <a href="{% url 'borrar' art.id %}">Borrar </a>
        <p> | Eres el propietario del anuncio</p>
        {% else %}
        <p> Anuncio Publicado por <a href="{% url 'perfilDetalle' art.creado %}">{{art.creado}}</a></p>
        {% endif %}
    </div>
</div>
<br/>

{% empty %}
<p>No hay articulos en esta categotia</p>
{% endfor %}
{% endblock %}