{% extends "base.html" %}

{% block head_title %}
   Esta seguro!!
{% endblock %}

{% block section %}
<h3>Esta seguro de querer borrar el articulo {{object.nombre}}</h3>
<br>
{% if object.imagen %}
<img src="{{object.imagen.url}}" alt="img" class="img-responsive img-rounded">
{% endif %}
<form method="POST" action="">
{% csrf_token %}
<input type="submit" class="primaryAction btn btn-danger" value="Confirmar">
<a class="primaryAction btn btn-primary" href="{{ object.get_absolute_url }}">Cancelar</a>
</form>
{% endblock %}