{% extends "base.html" %}

{% block head_title %}
    Articulo | {{object.nombre}}
{% endblock %}


{% block section %}

    <div class="fichaS">
    <p><span class = 'nombreF'>{{object.nombre}}</span> | <span class = 'precioF'> Precio: {{object.precio}}€</span> | <span class = 'PublicadoF'> Actualizado: {{ object.fechaM|timesince }}</span></p>
        <p><span class = 'referenciaF'>Ref:{{object.id}} </span>|<span class = 'tipoF'> Tipo de vendedor: {{object.get_tipo_display}}</span> |<span class = 'fechaF'> Fecha de publicacion: {{object.fechaM|date:"D d M Y" }}</span></p>
        <span class = 'descripcionF'><p><u>Descripcion:</u>{{object.descripcion|safe}}</p></span><br><hr>
    <p>Veces visto:{{object.visitas}}</p>
    {% if object.file_set.all %}
    <ul id="carousel"><span id="cargando">Cargando imágenes...</span>
        {%for img in object.file_set.all%}
            <li class="noselected"><img src="{{img.imagenes.url}}" alt="{{object.nombre}}" class="img_list img-responsive img-rounded"></li>
        {%endfor%}
    </ul>
    {% endif %}
    </div><br/>
<script>
        document.getElementById('cargando').className = 'noselected';
        var indice = 0;
        var elemento = document.getElementById('carousel').getElementsByTagName('li');
        slideshow();
 </script>
{% endblock %}