.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-height: 200px;
    height: auto;
    align-items: center;
    box-shadow: 0px 0px 100px 0px #003cff;
}
.categorias{
max-width : 590px;
margin: auto;
min-width: 405px;
}

.dropdown-toggle{
min-width: 200px;
}
.left{
float: left;
}
.right{
float: right;
}
.scrollable-menu {
    height: auto;
    max-height: 100px;
    min-width: 180px;
    overflow-x: hidden;
}
.jumbotron{
    background-color: #aac3df;
}

.navbar-nav{
    margin: auto;
}

.nav-item{
    margin-left: 40px;
}
.fichaS {
    background-color: #ecebff;
     min-height: 200px;
     border: solid 2px rgba(0,123,255,.5);
     margin: auto;
     width: 80%;
     border-radius: 10px;
     box-shadow: 0px 0px 40px 10px #aac3df;
}
.fichaS p {
    margin-top: 10px;
}
.nombreF, .precioF, .PublicadoF {
    background-color: #007ae7;
    border-radius: 10px;
    padding: 4px;
    margin: 5px;
    color: white;
}
.referenciaF, .tipoF, .fechaF{
    background-color: #2c557a;
    border-radius: 60px;
    padding: 5px;
    margin: 5px;
    color: #d6d6d6;
}
.articulo_class{
     min-height: 200px;
     border: solid 2px rgba(0,123,255,.5);
     margin: auto;
     width: 70%;
     border-radius: 10px;
     box-shadow: 0px 0px 40px 10px #aac3df;
}
.tituloArtList{
    background-color: #bad0e0;
    border-top-right-radius: 8px;
    background-color: rgba(0,123,255,.25);
    border-top-left-radius: 8px;
    box-shadow: 0px 3px 14px -2px #004085;
}
.decripcionArtList{
    margin:5px;
}

.articulo_class a{
    float:left;
    margin-right: 10px;
    margin-left: 10px;
}
.Options > p > a{
    float:none;
}

.Options{

}
.img_list{
    float: right;
    /**max-width: 25%;**/
}
footer{
    clear: both;
}

#imagenes{
    border: black 3px solid;
    height: 200;
    overflow-y: scroll;
}

.img_det{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.genericoC{
    margin: auto;
    width: 70%;
    text-align: center;
}
footer{
text-align: center;
}

.selected {z-index: 1; opacity: 1; -webkit-transition: all 2s ease; transition: all 2s ease;}
.noselected {z-index: 0; opacity: 0; -webkit-transition: all 1s ease; transition: all 1s ease; visibility: hidden;}
#cargando {position: absolute; color: white; top: 50%;}
/***** Carousel *****/
#carousel {width: 100%; position: relative; height: 350px; overflow: hidden; text-align: center; background-color: black; }
#carousel li {position: absolute; width: 100%; height: 100%;}
#carousel li img {position: absolute; height: 100%; left: 50%; top: 50%; -moz-transform: translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform: translate(-50%, -50%);}
#carousel p {position: absolute; bottom: 3em; font-size: 1.5em; width: 300px; color: white; z-index: 99; left: 50%; bottom: 20%; -webkit-transform:translate(-50%, 0%); -moz-transform: translate(-50%, 0%); transform: translate(-50%, 0%);}
#carousel p span {display: block; font-size: 0.8em;}
##################################################
